/* ------------ */
/* Global style */
/* ------------ */

* {
	font-family: Arial;
}


/* -------------- */
/* Navigation CSS */
/* -------------- */

.navigation .header {
	padding-top: .5em;
	padding-bottom: .5em;
	background-color: #696969;
	border-radius: 5px;
    margin-bottom: 10px;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li {
    margin-left: 20px;
	margin-right: 20px;
	font-size: larger;
}

.navigation .Title {
    color: white;
	margin: 0;
	font-size: 1.45em;
}

.navigation .Title, .nav {

    padding: 10px 15px;
	text-align: center;
	display: block;
}

.navigation .nav {
    margin-top: 5px;
}

.navigation .nav a {
    color: #e4e4e4;
	font-size: 1em;
}

.navigation .nav a:hover {
	color: #c7c7c7;
}

.navigation {
	padding-bottom: 20px;
}

/* -------------------------------------------------- */
/* Media tests for screen width - adaptive navigation */
/* -------------------------------------------------- */

@media (min-width: 720px) {
	.navigation .header, .nav {
		display: flex;
	}
	.navigation .header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
}

@media (min-width: 1024px) {
	.navigation .header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* ------------------ */
/* Index.html styling */
/* ------------------ */

.upload-form {
	display: block;
	text-align: center;
}

.upload-form form {
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.fileList {
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.fileList ul {
	list-style: none;
}

.fileList ul li {
	margin-bottom: 5px;
}

/* -------------------- */
/* Compare.html styling */
/* -------------------- */

.comparison {
	display: block;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
}

.comparison table {
	display: flex;
	justify-content: center;
}

.comparison table td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
